
h2{
    border-bottom: 2px solid #333333;
}

h1{
    font-family: serif;
    background-image: url(../img/sobre-background.jpg);
}
figure{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}
figcaption{
    font-style: italic;
    color: #666666;
}